@{
    ViewData["Title"] = "Home Page";
}

<div class="text-lg-center">
    <h1 class="align-content-lg-center pb-3">Budgeting and Personal Finanace</h1>
    <a asp-area="" asp-controller="Priority" asp-action="PriorityPath" class="btn-lg btn-primary" role="button">Click Here To Start</a>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
